<div class="wrapper profile-page landing-page">
  <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('https://unsplash.it/1600/1066/?random');">
      </div>
      <div class="container">
        <div class="content-center">
            <div class="photo-container">
              <%#= image_tag 'circle_logo.png', size: 200 %>
              <i class="now-ui-icons objects_spaceship" style="font-size: 153px; padding: 26px;"></i>
            </div>
            <h1 class="title">簡單穩定的<br class="hidden-md-up">批發貨源</h1>
            <p class="category">價格優惠，商品超多，而且不需額外費用</p>
            <div class="content">
                <div class="social-description">
                    <h2>30000+</h2>
                    <p>日本正品任你挑</p>
                </div>
                <div class="social-description">
                    <h2>5折起</h2>
                    <p>樣樣批發價</p>
                </div>
                <div class="social-description">
                    <h2>1件起批</h2>
                    <p>無壓式批發</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="section section-about-us">
      <div class="container">
          <div class="row">
              <div class="col-md-8 offset-md-2 text-center">
                  <h2 class="title">簡單穩定的批發貨源</h2>
                  <h5 class="description">不需等待批發社團餵食商品，全站商品皆可採購，省掉漫長的詢價時間，且無最低購買量限制。</h5>
              </div>
          </div>
          <div class="separator separator-primary"></div>
          <div class="section-story-overview">
              <div class="row">
                  <div class="col-md-6">
                      <div class="image-container image-left">
                          <!-- First image on the left side -->
                          <%= image_tag "sec2.jpg", class: "rounded img-fluid img-raised" %>
                          <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                              <br>
                              <br>
                              <small>-NOAA</small>
                          </p>
                      </div>
                      <!-- Second image on the left side of the article -->
                      <div class="image-container">
                        <%= image_tag "shops.jpg", class: "rounded img-fluid img-raised" %>
                      </div>
                  </div>
                  <div class="col-md-5">
                      <!-- First image on the right side, above the article -->
                      <div class="image-container image-right">
                          <%= image_tag "sec1.jpg", class: "rounded img-fluid img-raised" %>
                      </div>
                      <h3>每次出國批貨都像上戰場？<br>也許你可以換個方式。</h3>
                      <p>出國批貨機票很貴，而且行李箱很重，真的不好玩。出國批貨機票很貴，而且行李箱很重，真的不好玩。出國批貨機票很貴，而且行李箱很重，真的不好玩。出國批貨機票很貴，而且行李箱很重，真的不好玩。出國批貨機票很貴，而且行李箱很重，真的不好玩。出國批貨機票很貴，而且行李箱很重，真的不好玩。出國批貨機票很貴，而且行李箱很重，真的不好玩。出國批貨機票很貴，而且行李箱很重，真的不好玩。出國批貨機票很貴，而且行李箱很重，真的不好玩。
                      </p>
                      <p>來自日本供應商的優質商品，透過專業的物流商，直接寄達台灣。來自日本供應商的優質商品，透過專業的物流商，直接寄達台灣。來自日本供應商的優質商品，透過專業的物流商，直接寄達台灣。來自日本供應商的優質商品，透過專業的物流商，直接寄達台灣。來自日本供應商的優質商品，透過專業的物流商，直接寄達台灣。來自日本供應商的優質商品，透過專業的物流商，直接寄達台灣。
                      </p>
                      <p>現在加入一件起批，未來還可享受秘密商品推薦，何樂而不為？現在加入一件起批，未來還可享受秘密商品推薦，何樂而不為？現在加入一件起批，未來還可享受秘密商品推薦，何樂而不為？現在加入一件起批，未來還可享受秘密商品推薦，何樂而不為？現在加入一件起批，未來還可享受秘密商品推薦，何樂而不為？
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="section section-team text-center ">
      <div class="container">
          <h2 class="title">聽聽我們的合作夥伴</h2>
          <div class="team">
              <div class="row">
                  <div class="col-md-4">
                      <div class="team-player">
                          <img src="https://unsplash.it/400/401/?random" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">小奈兒</h4>
                          <p class="category text-primary">彩妝專家</p>
                          <p class="description">從兼職銷售日貨到專職，我一直在尋找可靠的貨源。到現在接觸的供應商也有上百家了。只有在 JPP8 讓我可以自由下單，而且是以批發的價格直接從日本採購。</p>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-instagram"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-facebook-square"></i></a>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="team-player">
                          <img src="https://unsplash.it/401/400/?random" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">王小版</h4>
                          <p class="category text-primary">蝦皮五星評價7000+</p>
                          <p class="description">在競爭激烈的拍賣平台上，如果要取得好成績，你的進貨成本一定要夠低。用 JPP8 進貨讓我保有足夠利潤，是開發市場的絕對殺器！</p>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-linkedin"></i></a>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="team-player">
                          <img src="https://unsplash.it/400/400/?random" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">江小妹</h4>
                          <p class="category text-primary">1500人團購主</p>
                          <p class="description">作為一個專業揪團，一定要讓好姊妹時常有新品。JPP8 大量的商品讓我根本買不完，我只需要把好東西分享出來就行！</p>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-google-plus"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-youtube-play"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-icon-mini"><i class="fa fa-twitter"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="section section-contact-us text-center">
      <div class="container">
          <h2 class="title">現在加入<span class="hidden-sm-down">，</span><br class="hidden-md-up">完全免費<span class="hidden-sm-down">。</span></h2>
          <p class="description">請填寫您希望我們聯絡的方式</p>
          <div class="row">
              <div class="col-lg-6 text-center offset-lg-3 col-md-8 offset-md-2">
                  <div class="input-group form-group-no-border input-lg">
                      <span class="input-group-addon">
                        手機號碼
                      </span>
                      <input type="text" class="form-control" placeholder="台灣手機號碼">
                  </div>
                  <div class="input-group form-group-no-border input-lg">
                      <span class="input-group-addon">
                        LINE ID
                      </span>
                      <input type="text" class="form-control" placeholder="LINE 帳號 ID">
                  </div>
                  <div class="textarea-container">
                      <textarea class="form-control" name="name" rows="4" cols="80" placeholder="有任何疑問嗎？"></textarea>
                  </div>
                  <div class="send-button">
                      <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">免費申請</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer class="footer footer-default">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="#">
                          JPP8
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              <script>
                  document.write(new Date().getFullYear())
              </script>, Designed by
              <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
      </div>
  </footer>
</div>