$primary-color: #831f27;
$semi-primary-color: #a02d36;
.admin {
	background-color: #f8f8f8;
	.btn {
		border: 1px solid white;
		&.btn-primary {
			background-color: $semi-primary-color;
			&:hover {
				background-color: $primary-color;
			}
		}
	}
	.content-wrapper {
		background-color: white;
		.panel {
			border-color: $primary-color;
		}
		.panel-heading {
			background-color: #f8f8f8;
			color: $primary-color;
		}
		@media (min-width: 768px) {
			padding: 10px 15px;
		}
		@media (max-width: 767px) {
			padding: 10px 0px 10px 5px;
		}
		.text-v-center {
			padding-top: 9px;
			padding-bottom: 9px;
		}
	}
	nav.navbar-primary {
		margin-bottom: 0px;
		background-color: $primary-color;
		border: none;
		border-radius: 0px;
		.navbar-brand {
			font-weight: bold;
			letter-spacing: 1px;
		}
		a {
			color: #f8f8f8;
			&:hover, &:focus {
				background-color: $semi-primary-color;
			}
		}
		.open > a {
			background-color: $semi-primary-color;
		}
		.dropdown-menu > li > a {
			color: $primary-color;
			&:hover {
				color: #f8f8f8;
			}
		}
		input {
			border-radius: 0px;
		}
		.btn {
			border-width: 2px !important;
		}
	}
	.page-header {
		margin-top: 20px;
	}
	.row.xs-margin {
		@media (max-width: 767px) {
			margin-left: -5px;
			margin-right: 0px;
		}
	}
	.xs-padding {
		@media (max-width: 767px) {
			padding: 0px 5px;
		}	
	}
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea.form-control {
  font-size: 16px;
}

input.select2-search__field {
	font-size: 16px !important;	
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: gold;
}