# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 309d1be2bdf2f154884a308d01e506504339f20105512e6cd5cc4320326f75d99fdb79894113c8900ca3ad7ee52432beb7c63d99f0ccd1ee8c9e975e5fa174eb

test:
  secret_key_base: 8d054ee80090feaa21f4c9a7c72246ad8dc813e74c32e6dd546fb2d73c61d6ef80ae655d40f388a6a493d21abe3523624560de9f070dc280aa5098046f7e8277

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
