<div class="form-group">
	<%= f.label attr_sym1, class: "col-xs-12 col-sm-2 col-lg-2 control-label" %>
	<div class="col-xs-12 col-sm-4 col-lg-3">
	  <div class="input-group">
	    <span class="input-group-addon"><i class="fa fa-yen"></i></span>
	    <%= number_pad_input(attr_sym1, f) %>
	  </div>
	</div>
	<div class="col-xs-2 col-sm-1 text-center" style="padding: 9px 0px;"><i class="fa fa-exchange"></i></div>
	<div class="col-xs-10 col-sm-4 col-lg-3">
	  <div class="input-group">
	    <span class="input-group-addon">NT$</span>
	    <%= number_pad_input(attr_sym2) %>
	  </div>
	</div>
</div>