<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation">
      <a href="/admin/dashboard"><i class="fa fa-tachometer fa-fw"></i> 主控台</a>
    </li>
    <li role="presentation">
      <div class="h5"><i class="fa fa-minus-square-o"></i> 賣場管理</div>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/products"><i class="fa fa-table fa-fw"></i> 貨架配置</a></li>
        <li><a href="/admin/products"><i class="fa fa-rocket fa-fw"></i> 促銷活動</a></li>
        <li><a href="/admin/products/new"><i class="fa fa-plus fa-fw"></i> 收款資訊</a></li>
      </ul>    
    </li>
    <li role="presentation">
      <div class="h5"><i class="fa fa-minus-square-o"></i> 商品資料庫</div>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/products"><i class="fa fa-barcode fa-fw"></i> 管理商品</a></li>
        <li><a href="/admin/products"><i class="fa fa-folder-open-o fa-fw"></i> 管理分類</a></li>
        <li><a href="/admin/products/new"><i class="fa fa-plus fa-fw"></i> 建立新商品</a></li>
      </ul>    
    </li>
    <li role="presentation">
      <div class="h5"><i class="fa fa-minus-square-o"></i> 訂單管理</div>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/products"><i class="fa fa-list-alt fa-fw"></i> 訂單確認</a></li>
        <li><a href="/admin/products"><i class="fa fa-truck fa-fw"></i> 出貨統計</a></li>
      </ul>
    </li>
    <li role="presentation">
      <div class="h5"><i class="fa fa-minus-square-o"></i> 帳務</div>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/products/new"><i class="fa fa-usd fa-fw"></i> 對帳</a></li>
      </ul>
    </li>
    <li role="presentation">
      <div class="h5"><i class="fa fa-minus-square-o"></i> 素材庫</div>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/products"><i class="fa fa-file-image-o fa-fw"></i> 已上傳圖片</a></li>
      </ul>
    </li>
    <li role="presentation">
      <div class="h5"><i class="fa fa-minus-square-o"></i> 使用教學</div>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/products"><i class="fa fa-commenting-o fa-fw"></i> 詢問官方客服</a></li>
        <li><a href="/admin/products"><i class="fa fa-bolt fa-fw"></i> 小技巧</a></li>
      </ul>
    </li>
    <li role="presentation">
      <div class="h5"><i class="fa fa-minus-square-o"></i> 工作管理</div>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/products"><i class="fa fa-tasks fa-fw"></i> 日常工作</a></li>
        <li><a href="/admin/products"><i class="fa fa-calendar-check-o fa-fw"></i> 年曆</a></li>
      </ul>
    </li>
    <li role="presentation">
      <div class="h5"><i class="fa fa-minus-square-o"></i> 權限設置</div>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/products"><i class="fa fa-user-secret fa-fw"></i> 用戶組</a></li>
        <li><a href="/admin/products"><i class="fa fa-file-text-o fa-fw"></i> 表單設置</a></li>
      </ul>
    </li>
    <li role="presentation">
      <div class="h5"><i class="fa fa-minus-square-o"></i> 系統設置</div>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/products"><i class="fa fa-sitemap fa-fw"></i> 營業資料</a></li>
        <li><a href="/admin/products"><i class="fa fa-jpy fa-fw"></i> 價格匯率</a></li>
        <li><a href="/admin/products"><i class="fa fa-desktop fa-fw"></i> 介面自訂</a></li>
      </ul>
    </li>
  </ul>
</div>